@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@100;200;300;400;500;600;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Livvic", "Times New Roman", sans-serif;
}   
h2 {
    font-weight: 400!important;
    line-height: 1.2;
}
.btn{
    background: #28a745!important;
}.btn:hover{ 
    background: #218838!important;
}.btn:focus{
    color: #F8F9FA!important;
}
i{
    font-size: 56px;
}
